{% extends 'base/admin.html' %}

{% block title %}
Detalles del pedido
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles del pedido</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID: </strong> {{ ped.id }}</li>
          <li class="list-group-item"><strong>Usuario : </strong> {{ ped.usuario }}</li>

          {% if ped %}
              {% for i in ped.productos.all %}
           
                <li class="list-group-item"><strong>Producto : </strong> {{ i.name }}</li>
            {% endfor %}
          {% endif %}

          <li class="list-group-item"><strong>Fecha : </strong> {{ ped.fecha }}</li>
          <li class="list-group-item"><strong>Código : </strong> {{ ped.codigo_pedido }}</li>

        </ul>
      </div>
    </div>
    <a href="{% url 'core:pedido' %}" class="btn btn-link">Volver</a>
  </div>
{% endblock content %}
