{% extends "base/admin.html" %}
{% block title %}Admin clientes{% endblock title %}
{% block content %}
<title>Admin Pedidos</title>

<br> 
<center><h2>Pedidos</h2></center>
<br> 
<hr>


   <table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Código</th>
        <th></th>
        <th>Acciones</th>
        <th></th>
    </thead>
      
       <tbody>
    
           {% for i in pedidos %}
           </tr>
           <td>{{ i.id }}</td>
           <td>{{ i.usuario }}</td>
           <td>{{ i.fecha }}</td>
           <td>{{ i.codigo_pedido }}</td>
           <td><a href="{% url 'core:detail_pedido' i.id %}" class="btn btn-outline-info">Detalles</a></td>
           <td><a href="{% url 'core:update_pedido' i.id %}" class="btn btn-outline-warning">Actualizar</a></td>
           <td><a href="{% url 'core:delete_pedido' i.id %}" class="btn btn-outline-danger">Borrar</a></td>
          
          
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
