{% extends "base/logsing.html" %}

{% block title %}
Perfil
{% endblock title %}

{% block content %}
<style>

  .btn-sample { 
      color: #FFFFFF; 
      background-color: #364361; 
      border-color: #FFFFFF; 
    } 
     
    .btn-sample:hover, 
    .btn-sample:focus, 
    .btn-sample:active, 
    .btn-sample.active, 
    .open .dropdown-toggle.btn-sample { 
      color: #FFFFFF; 
      background-color: #2A3245; 
      border-color: #FFFFFF; 
    } 
     
    .btn-sample:active, 
    .btn-sample.active, 
    .open .dropdown-toggle.btn-sample { 
      background-image: none; 
    } 
     
    .btn-sample.disabled, 
    .btn-sample[disabled], 
    fieldset[disabled] .btn-sample, 
    .btn-sample.disabled:hover, 
    .btn-sample[disabled]:hover, 
    fieldset[disabled] .btn-sample:hover, 
    .btn-sample.disabled:focus, 
    .btn-sample[disabled]:focus, 
    fieldset[disabled] .btn-sample:focus, 
    .btn-sample.disabled:active, 
    .btn-sample[disabled]:active, 
    fieldset[disabled] .btn-sample:active, 
    .btn-sample.disabled.active, 
    .btn-sample[disabled].active, 
    fieldset[disabled] .btn-sample.active { 
      background-color: #364361; 
      border-color: #FFFFFF; 
    } 
     
    .btn-sample .badge { 
      color: #364361; 
      background-color: #FFFFFF; 
    }
</style>
<br>
<br>
<br>
  <center>
  <div class= "container container-table">
    <div class="card" >
      <div class="card-body">
        <h2 class="card-title">  {{ user }} </h2> 
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Nombre : {{ user.customer.name_first }} </li>
        <li class="list-group-item"> Apellido : {{ user.customer.last_name_pat }} </li>
        {% if user.customer.last_name_mat %}
        <li class="list-group-item">Segundo apellido :   {{ user.customer.last_name_mat }} </li>
        {% endif %}
        <li class="list-group-item"> Número de telefono :   {{ user.customer.phone }}   </li>
        <li class="list-group-item"> Código postal :   {{ user.customer.cp }}   </li>
        <li class="list-group-item"> Calle :   {{ user.customer.streat  }}   </li>
        <li class="list-group-item"> Número de casa :   {{ user.customer.number_home }}   </li>
      </ul>
      <br>
      <br>
      
    </div>
    <br>
    <br>
    <a href="{% url 'home:actualizarPerfil' user.customer.id %}" class="btn btn-sample " >Actualizar</a>
      <a href="{% url 'home:inicio' %}" class="btn btn-dark">Volver</a>
  </div>
  </center>
{% endblock content %}