{% extends 'base/admin.html' %}

{% block title %}
Borrar ItemPedido{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar ItemPedido</h4>
            <p>¿Realmente deseas borrar este ItemPedido : {{ object.pedido }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar ItemPedido</button>
            <a href="{% url 'core:Itempedido' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}  