{% extends 'base/admin.html' %}

{% block title %}
ItemPedidos
{% endblock title %}

{% block content %}
<br> 
<center><h2>ItemPedidos</h2></center>
<br> 
<hr>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Pedido</th>
            <th>Cantidad</th>
            <th>Código del producto</th>
            <th></th>
            <th>Acciones</th>
            <th></th>
        </thead>
        <tbody>
            {% for ItemPedido in ItemPedido %}
                <tr>
                    <td>{{ ItemPedido.id }}</td>
                    <td>{{ ItemPedido.pedido.codigo_pedido }}</td>
                    <td>{{ ItemPedido.cantidad }}</td>               
                    <td>{{ ItemPedido.codigo_producto }}</td>               
                    <td><a href="{% url 'core:recover_itempedido' ItemPedido.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:update_itempedido' ItemPedido.id %}" class="btn btn-outline-warning"> Actualizar </a></td>
                    <td><a href="{% url 'core:delete_itempedido' ItemPedido.id %}" class="btn btn-outline-danger"> Borrar </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    

{% endblock content %}
