.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.accordion {
  border: none;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion-item {
  border-bottom: 1px solid #afafaf;
}

.accordion-title {
  background-color: #7c77c9;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.accordion-title:hover {
  background-color: #d5e0ff;
}

.accordion-content {
  padding: 1rem;
  text-align: left;
  background-color: #f5f5f5;
}