{% extends 'base/base.html' %}
{% load static %}
{% block title %}BELLE D' LUXE{% endblock title %}


{% block content %}



<!-- archivo css    -->
<link rel="stylesheet" type="text/css" href="{% static 'infocss/styletext.css' %}"/>
<!--                -->

<!-- carousel   -->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'imagenes/homeI.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p id="sub" style="font-size: 550%;">¡Bienvenidos a nuestra apertura en línea!</p>
        <p id="subsub" style="font-size: 350%;"></p>
      </div>

    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <video class="img-fluid" autoplay loop muted>
        <source src="{% static 'imagenes/homeIII.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- end carousel   -->

<!-- Titulo #1 -->
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<br>

<br>
<br>
<br>
  <div>
    <p id="sectionI">NUESTRAS NOVEDADES</p>
  </div>
  <br>
<br>
<br>
<br>

<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- end Titulo -->



  <div id="contenedor-box"style="background-color:#FFF;">


    <div id="box1"style="background-color:#FFF;">
        <img id="imgd" src="{% static 'imagenes/boxa.png'%}" alt=" ">
    
    </div>
    
    <div id="box2"style="background-color:#FFF;">
        <p id="contenido-box">

            El encaje es uno de los principales protagonistas en este tipo de vestidos con mono elegante. 

            Este delicado tejido añade un toque de feminidad y elegancia al diseño, resaltando la belleza 

            de las mujeres que lo lucen. El encaje puede encontrarse en diferentes áreas del vestido, como 

            en las mangas, el escote o incluso en la parte trasera, creando un efecto visual muy atractivo.


        </p>
    </div>
    
    
    <div id="box3"style="background-color:#2f2b4c;">
    ...
    </div>
    
    <br>
    <br>
    
    <div id="box1"style="background-color:#FFF;">
      <img id="imgd" src="{% static 'imagenes/boxb.png'%}" alt=" ">
    </div>
    
    <div id="box2"style="background-color:#FFF;">
      <p id="contenido-box">

        El traje negro es un clásico atemporal que nunca pasa de moda. Es una prenda versátil y elegante que 
        
        se adapta a cualquier ocasión, ya sea una reunión de negocios o una fiesta formal. Su color liso le 
        
        otorga un toque de sofisticación y estilo, convirtiéndolo en una elección segura para lucir impecable 
        
        en cualquier evento.


      </p>
    </div>
    
    
    <div id="box3"style="background-color:#2f2b4c;">
    ...
    </div>
    
    <br>
    <br>
    
    <div id="box1"style="background-color:#FFF;">
      <img id="imgd" src="{% static 'imagenes/boxc.png'%}" alt=" ">
    </div>
    
    <div id="box2"style="background-color:#FFF;">
      <p id="contenido-box">

        Un traje negro de mujer con pantalón corto y corbata es una prenda que combina la elegancia y la modernidad


      </p>
      <a id="btn1" href="https://nuestro-blog-belledeluxe.blogspot.com/?m=1" class="btn btn-info" role="button">Visítanos</a>

  </div>
    
    
    <div id="box3"style="background-color:#2f2b4c;">
    ...
    </div>
    
    </div>

    <hr>
    




{% endblock content %}