body {
  background-color: #fff;

}

/*-----------------------------------------------------------------*/


/*               INICIO            */

  #contenedor-box{

    margin: 2%;
   }
   
   #box1{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 16%;

   }

   #sectionI{
    font-size: 35%;
    padding-left: 12%;
   }

/* --------------------------------------------- */


   #box2{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 2%;

    
   }

   #contenido-box{

    line-height: 2;
    text-align: justify;
    padding-left: 12%;
    padding-right: 12%;

    
   }

/* --------------------------------------------- */


   #box3{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
 
   }

/* --------------------------------------------- */
   
   #btn1{
     background-color: #fff;
    border: 1px solid black;
     color: black;
     padding: 10% 60%;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12%;
     margin-left: 12%;
     cursor: pointer;
     border-radius: 30px;
     
   }

   #btn2{
    background-color: #2f2b4c;
   border: 1px solid #000000;
    color: rgb(255, 255, 255);
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 12%;
    cursor: pointer;
    border-radius: 30px;
    
  }

 
/*-----------------------------------------------------------------*/


/*                       NOSOTROS                             */

#textonosotros {
  font-size: 24px;
  text-align: left;
  margin-top: 20%;
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  line-height: 2;
}


#titulonosotros {
  text-align: center;
  margin-top: 12%;
  margin-bottom: 12%;
  letter-spacing: 0.4em;
}
/*--------------------------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
/*--------------------------------------------------------*/

#m-v-f {
  width:25%;  
  display:inline-block;
  padding: 2%;
  line-height: 2;
  margin: 2%;
  text-align: center;
}



#down{

  padding-left: 10%;
}
/*-----------------------------------------------------------------*/



/*                        BLOG                             */

#blog {
  font-size: 40px;
  letter-spacing: 0.4em;
  margin-left: 10%;
}

#mini {
  text-align: center;
  letter-spacing: 0.4em;
  opacity: 0.2;
}

/* --------------------------------------------- */

#cuadroI {
  padding: 2%;
  margin-bottom: 2%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
/* --------------------------------------------- */
#cuadroII {
  padding: 20px;
  width: 30%;
  float: left;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
/* --------------------------------------------- */
#cuadroIII {
  padding: 7%;
  width: 70%;
  float: left;
  border: 1px solid black;
  text-align: justify;
  line-height: 2;

}

#author {
  text-align: right;
  opacity: 0.5;
}

#new1 {
  font-size: 30px;
  text-align: center;
}

table,
tr,
td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  align-content: center;
  border-radius: 4%;
}

#imgb{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin-right: 12%;
    
}

#imgl{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin-right: 20%;
    
    
}

/* --------------------------------------------- */
#body {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  
  
}

#minifooter {
    font-size: 12px;
    color: #000000;
    text-align: left;
    opacity: 0.2;
    margin-left: 30%;
  }

  /*-----------------------------------------------------------------*/

/*                SERVICIOS                        */


#title-services{
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.6em;
  padding: 8%;

}

#subtitle-services{
  font-size: 70px;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 4%;

}


#text-services{
  font-size: 27px;
  text-align: left;
  text-align: justify;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  padding: 6%;

  

}
/* --------------------------------------------- */
#box-cardI{
  padding: 5%;
}
/* --------------------------------------------- */
#box-cardII{
  padding: 5%;

}

#box-card-inside-I{
  border: 1px solid rgb(255, 255, 255);
}


#box-card-inside-II{

  border: 1px solid rgb(255, 255, 255);

}

/* --------------------------------------------- */

#box-card-inside-II-I{
  padding: 12%;


}

#box-card-inside-II-II{


  border: 1px solid rgb(255, 255, 255);
}

#text-card-I{
  font-size: 60px;
  text-align: right;
  padding-top: 12%;
  padding-right: 5%;
  color: #fff;
}

#text-muted{

  color: #acacac;
  text-align: right;
}


#card-text-inside{

  text-align: center;
  font-size: 24px;
  color: #fff;
}

#text-2{
  font-size: 60px;
  text-align: left;
  padding-top: 12%;
  padding-right: 5%;
  color: #000000;
}

#card-text-2{

  text-align: center;
  font-size: 24px;
  color: #000;
}

.accordion {
  --bs-accordion-active-bg: #111122;
  --bs-accordion-active-color: rgb(255, 255, 255);
}





@media (min-width: 768px) {

  body {
    background-color: #fff;  
  }
  
  /*-----------------------------------------------------------------*/
  
  
  /*               INICIO             */
  
    #contenedor-box{
      padding-left: 6%;
      padding-right: 6%;
      margin: 2%;
     }
     
     #box1{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      padding-left: 16%;
  
     }
  
     #sectionI{
      font-size: 60px;
      padding-left: 12%;
     }
  
  /* --------------------------------------------- */
  
  
     #box2{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      padding: 2%;
  
      
     }
  
     #contenido-box{
  
      line-height: 2;
      text-align: justify;
      padding-left: 12%;
      padding-right: 12%;
  
      
     }
  
  /* --------------------------------------------- */
  
  
     #box3{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
   
     }
  
  /* --------------------------------------------- */
     
     #btn1{
       background-color: #fff;
      border: 1px solid black;
       color: black;
       padding: 10px 60px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-left: 12%;
       cursor: pointer;
       border-radius: 30px;
       
     }
  
     #btn2{
      background-color: #2f2b4c;
     border: 1px solid #000000;
      color: rgb(255, 255, 255);
      padding: 10px 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 12%;
      cursor: pointer;
      border-radius: 30px;
      
    }
  
   
  /*-----------------------------------------------------------------*/
  
  
  /*                       NOSOTROS                             */
  
  #textonosotros {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: left;
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
    line-height: 2;
  }
  
  
  #titulonosotros {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 12%;
    letter-spacing: 0.4em;
  }
  /*--------------------------------------------------------*/
  
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  /*--------------------------------------------------------*/
  
  #m-v-f {
    width:25%;  
    display:inline-block;
    padding: 2%;
    line-height: 2;
    margin: 2%;
    text-align: center;
  }
  
  
  
  #down{
  
    padding-left: 10%;
  }
  /*-----------------------------------------------------------------*/
  
  
  
  /*                        BLOG                             */
  
  #blog {
    font-size: 40px;
    letter-spacing: 0.4em;
    margin-left: 10%;
  }
  
  #mini {
    text-align: center;
    letter-spacing: 0.4em;
    opacity: 0.2;
  }
  
  /* --------------------------------------------- */
  
  #cuadroI {
    padding: 2%;
    margin-bottom: 2%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  /* --------------------------------------------- */
  #cuadroII {
    padding: 20px;
    width: 30%;
    float: left;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  /* --------------------------------------------- */
  #cuadroIII {
    padding: 7%;
    width: 70%;
    float: left;
    border: 1px solid black;
    text-align: justify;
    line-height: 2;
  
  }
  
  #author {
    text-align: right;
    opacity: 0.5;
  }
  
  #new1 {
    font-size: 30px;
    text-align: center;
  }
  
  table,
  tr,
  td {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    border-radius: 4%;
  }
  
  #imgb{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      margin-right: 12%;
      
  }
  
  #imgl{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      margin-right: 20%;
      
      
  }
  
  /* --------------------------------------------- */
  #body {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%; 
  }
  
  #minifooter {
      font-size: 12px;
      color: #000000;
      text-align: left;
      opacity: 0.2;
      margin-left: 30%;
    }
  
    /*-----------------------------------------------------------------*/
  
  /*                SERVICIOS                        */
  
  
  #title-services{
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.6em;
    padding: 8%;
  
  }
  
  #subtitle-services{
    font-size: 70px;
    text-align: center;
    color: #000000;
    letter-spacing: 0.2em;
    padding: 4%;
  
  }
  
  
  #text-services{
    font-size: 27px;
    text-align: left;
    text-align: justify;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  
    padding: 6%;
  
    
  
  }
  /* --------------------------------------------- */
  #box-cardI{
    padding: 5%;
  }
  /* --------------------------------------------- */
  #box-cardII{
    padding: 5%;
  
  }
  
  #box-card-inside-I{
    border: 1px solid rgb(255, 255, 255);
  }
  
  
  #box-card-inside-II{
  
    border: 1px solid rgb(255, 255, 255);
  
  }
  
  /* --------------------------------------------- */
  
  #box-card-inside-II-I{
    padding: 12%;
  
  
  }
  
  #box-card-inside-II-II{
  
  
    border: 1px solid rgb(255, 255, 255);
  }
  
  #text-card-I{
    font-size: 60px;
    text-align: right;
    padding-top: 12%;
    padding-right: 5%;
    color: #fff;
  }
  
  #text-muted{
  
    color: #acacac;
    text-align: right;
  }
  
  
  #card-text-inside{
  
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  
  #text-2{
    font-size: 60px;
    text-align: left;
    padding-top: 12%;
    padding-right: 5%;
    color: #000000;
  }
  
  #card-text-2{
  
    text-align: center;
    font-size: 24px;
    color: #000;
  }

  .accordion {
    --bs-accordion-active-bg: #111122;
    --bs-accordion-active-color: rgb(255, 255, 255);
  }


}


 