.tab-btn {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .tab-btn.active {
    background-color: #11131F;
    color: #fff;
  }
  
  .underline {
    width: 120px; /* Ancho de la línea de subrayado */
    height: 2px; /* Grosor de la línea de subrayado */
    background-color: #ffffff; /* Color del subrayado */
    margin-top: 5px; /* Espacio entre las pestañas y el subrayado */
    transition: margin-left 0.3s ease; /* Animación de transición */
  }
  
  .content {
    margin-top: 20px; /* Espacio entre las pestañas y el contenido */
  }
  /* tabs.css */
.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


