.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.half-page {
  flex: 1; /* Cambiamos width a flex para que se ajuste automáticamente */
  box-sizing: border-box;
  margin: 0 5px; /* Ajustamos el margen para separar las columnas */
  display: flex; /* Añadimos display flex para centrar contenido verticalmente */
  justify-content: center; /* Centramos el contenido horizontalmente */
  align-items: center; /* Centramos el contenido verticalmente */
}

@media screen and (max-width: 768px) {
  .half-page {
    flex: 100%; /* Cambiamos el ancho al 100% en dispositivos pequeños para que ocupe toda la fila */
    margin: 5px 0; /* Ajustamos el margen para separar las filas en dispositivos pequeños */
  }
}
